<div class="container">
  <md-toolbar color="primary">
    <div class="toolbar-top">
      <span class="capitalize">
        {{title}}
      </span>
  
        <button md-button (click)="reset()" >reset</button>
    </div>

    <md-toolbar-row>
      <div class="capitalize stats">
        <div>
          <p>w</p>
          <p>{{stats.win}}</p>
        </div>
        <div>
          <p>d</p>
          <p>{{stats.draw}}</p>
        </div>
        <div>
          <p>l</p>
          <p>{{stats.lose}}</p>
        </div>
      </div>
    </md-toolbar-row>
  </md-toolbar>

  <div class="gesture-container">
    <button md-fab (click)="play('rock')">✊</button>
    <button md-fab (click)="play('paper')">✋</button>
    <button id="scissors" md-fab (click)="play('scissors')">✌️</button>
  </div>

</div>