/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

.scissors,#scissors{
    transform: rotate3d(0,0,1,-90deg)
}

.capitalize{
    text-transform: capitalize;
}